@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#topbar-wrapper {
  height: v.$topbar-height;
  //background-color: var(--topbar-bg);

  @include bp.lt(bp.get(lg)) {
    @include mx.slide(top 0.2s ease);

    left: 0;
  }
}

#topbar-bg{
  background-color: var(--topbar-bg);
    height: v.$topbar-height;
    position: absolute;
    z-index: -99;
    width: 100%;
}


#topbar {
  @extend %btn-color;

  @include bp.lte(bp.get(md)) {
    @include mx.max-w-100;
  }

  @include bp.lt(bp.get(lg)) {
    max-width: 100%;
  }


  div.nav {
      margin-bottom: 0rem;
      div.nav-item {
        opacity: 0.9;
        width: auto;
        @include mx.pl-pr(0.0rem);
        
        @include bp.xxxl {
          @include mx.pl-pr(0rem);
        }
        
        a.nav-link {
          
          height: v.$topbar-height;
          align-self: auto;
          @include mx.pt-pb(0.6rem);

          color: var(--sidebar-link-color);
          display: flex;
          align-items: center;
          border-radius: 0rem;
          font-weight: 600;
          font-size: 1.3rem;

          &:hover {
            background-color: var(--sidebar-hover-bg);
          }

          i {
            font-size: 95%;
            opacity: 0.8;
            margin-right: 1.5rem;
          }

          span {
            font-size: 90%;
            letter-spacing: 0.2px;
          }
        }

        &.active {
          .nav-link {
            color: var(--sidebar-active-color);
            background-color: var(--sidebar-hover-bg);

            span {
              opacity: 1;
            }
          }
        }
      }
  }
}


#topbar-breadcrumb-wrapper {
  height: v.$topbar-breadcrumb-height;
  //background-color: var(--topbar-bg);

  @include bp.lt(bp.get(lg)) {
    @include mx.slide(top 0.2s ease);

    left: 0;
  }
}

#topbar-breadcrumb {
  @extend %btn-color;

  #breadcrumb {
    font-size: 1rem;
    color: var(--text-muted-color);
    padding-left: 0.0rem;
    padding-top: 1rem;

    a:hover {
      @extend %link-hover;
    }

    span {
      &:not(:last-child) {
        &::after {
          content: '›';
          padding: 0 0.3rem;
        }
      }
    }

    @include bp.lt(bp.get(lg)) {
      display: none;
    }

    @include bp.between(bp.get(lg), calc(#{bp.get(xl)} - 1px)) {
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  @include bp.lte(bp.get(md)) {
    @include mx.max-w-100;
  }

  @include bp.lt(bp.get(lg)) {
    max-width: 100%;
  }
}

#topbar-title {
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: left;
  margin-left: 1.0rem;
  width: 70%;
  word-break: keep-all;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }

  @include bp.lg {
    text-align: left;
  }
}

#sidebar-trigger,
#search-trigger {
  display: none;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }
}
